[2020-04-01 17:13] timmyomahony opened #3 "Improve block table styling in settings"
<img width="554" alt="Screenshot 2020-04-01 at 18 13 33" src="https://user-images.githubusercontent.com/615149/78166335-810e0800-7444-11ea-9208-9e1830baa3f6.png">

[2020-04-01 17:14] timmyomahony opened #4 "Hide matrix blocks until after volume has been configured and saved"
<img width="684" alt="Screenshot 2020-04-01 at 18 13 50" src="https://user-images.githubusercontent.com/615149/78166354-8c613380-7444-11ea-94c1-5046c11bfa52.png">

[2020-04-01 17:15] timmyomahony commented on #4
Need to make clear that you have to first save the preview image location before you can use the plugin properly. Maybe add some sort or amber alert explaining it's not configured yet as well as adding opacity to the matrix field table

[2020-04-01 17:15] timmyomahony commented on #3
There are probably some existing classes from the Craft CP to add borders etc.

[2020-04-01 17:17] timmyomahony opened #5 "Add indicator to block type table of which blocks are configured already"

[2020-04-01 17:20] timmyomahony opened #6 "Fix universal loading of script"
<img width="759" alt="Screenshot 2020-04-01 at 18 18 20" src="https://user-images.githubusercontent.com/615149/78166760-317c0c00-7445-11ea-9b34-994b7369ac53.png">

The way our asset is currently set up is to be injected on every page that gets rendered <s>in the control panel</s> everywhere!. For some reason though our bundle isn't being included while a call is still being made

[2020-04-01 17:21] timmyomahony opened #7 "Remove sidebar icon entry"
<img width="254" alt="Screenshot 2020-04-01 at 18 21 01" src="https://user-images.githubusercontent.com/615149/78166986-946da300-7445-11ea-86a9-291bd94fe79c.png">

[2020-04-01 18:42] #7 closed

[2020-04-01 18:42] #5 closed

[2020-04-01 18:42] #4 closed

[2020-04-01 19:28] timmyomahony opened #10 "Fix image cropping"
Images in the wrong aspect ratio, or too small, are being stretched

![Screenshot 2020-04-01 at 20 28 31](https://user-images.githubusercontent.com/615149/78178336-61cca600-7457-11ea-94e5-301fa82b3399.jpg)

[2020-04-01 19:29] timmyomahony opened #11 "Sort block types alphabetically"

[2020-04-01 19:30] timmyomahony opened #12 "Add border/box shadow to hovering image overlay"
<img width="773" alt="Screenshot 2020-04-01 at 20 30 22" src="https://user-images.githubusercontent.com/615149/78178477-9e989d00-7457-11ea-89aa-50baa1373961.png">

[2020-04-01 19:36] timmyomahony opened #13 "Make the dummy screenshot image smaller"

[2020-04-01 19:36] timmyomahony opened #14 "Make the block type thumbnail larger and square, so it's easier to see"

[2020-04-07 12:31] #13 closed

[2020-04-07 12:31] #12 closed

[2020-04-07 12:31] #10 closed

[2020-04-07 12:39] #14 closed

[2020-04-07 14:32] #11 closed

[2020-04-08 02:27] mediabeastnz opened #17 "[FR] Support Neo field as well"
We use the Neo field to build our sections and this plugin would be perfect for a lot of our sites.

Would support for Neo be hard? Happy to help out if you point me in the right direction ✌️

[2020-04-08 08:26] timmyomahony commented on #17
Oooo. I think it would be possible. At the moment we use our own database table to track the previews. That table has a FK to the Craft matrix field block type. No reason why we could add another colum to track neo fields (assuming neo uses a totally different field to the matrix field - I haven't used it before).

[2020-04-08 09:14] timmyomahony commented on #17
Just had a look at their source and seems they have their own tables so we could certainly track those as well as the matrix fields. It would require probably handling it under a separate tab or something. I will look into it a bit more. Thanks for the feedback.

[2020-04-08 11:02] timmyomahony opened #18 "Simplify configuration across environments"
The plugin uses the settings page to configure fields. This is by design as the preview fields are really a "once-off" configuration step, not something that should be done regularly (or be visible to end users). For the plugin to work we use a custom database table as well as the Craft assets to save images.

Usually, on staging/production you would hide the settings page from users.  But this me

[2020-04-08 13:51] timmyomahony opened #19 "Make previews in entries optional?"
At the moment we do a complete takeover of the default blocks button. It might be a better idea to augment the default dropdown with an alternative button instead. This could be an option.

[2020-04-10 01:56] bryantAXS commented on #17
This is exactly what I've been looking for and needing with Neo! All our sites use this setup and we've been dying for something like this.

[2020-04-10 09:08] timmyomahony commented on #17
Thanks @bryantAXS, sounds like it would be a good feature to work on so

[2020-04-30 18:00] tyler-deboer commented on #17
+1 to that. Having Neo integration would be amazing.

[2020-05-23 16:46] timmyomahony commented on #6
Should be fixed with https://github.com/weareferal/craft-matrix-field-preview/pull/20

[2020-05-23 16:46] #6 closed

[2020-05-23 16:54] #3 closed

[2020-06-03 07:50] timmyomahony opened #21 "Make preview image adjustable"
Currently their height is set manually at 250px (see `.mfp-modal__image`)

[2020-06-03 07:50] timmyomahony opened #22 "Possible issue with multisite"
With more than one site configured, it's possible preview blocks are being recreated for each site

[2020-06-03 10:04] timmyomahony opened #23 "Configured preview fields without an image aren't showing image placeholder"
Fields that _have_ been configured, but _haven't_ got an uploaded image are not correctly displaying the placeholder image:

<img width="1028" alt="Screenshot 2020-06-03 at 11 02 44" src="https://user-images.githubusercontent.com/615149/83623921-e0de7780-a589-11ea-80af-e1896a732635.png">

This is most likely to do with the JavaScript used to generate the modal content :

https://github.com/wearefe

[2020-06-03 10:06] timmyomahony opened #24 "Preview thumbnails need a white background"
On both the preview thumbnail and the overlay thumbnail

![Screenshot 2020-06-03 at 11 05 39](https://user-images.githubusercontent.com/615149/83624167-3155d500-a58a-11ea-9d34-2d2ecfe5dcc1.png)

<img width="592" alt="Screenshot 2020-06-03 at 11 05 42" src="https://user-images.githubusercontent.com/615149/83624175-33b82f00-a58a-11ea-9b9a-7ecd34887465.png">

[2020-06-03 10:06] timmyomahony opened #25 "Preview thumbnails need a "max size""
Otherwise they stretch too large:

<img width="592" alt="Screenshot 2020-06-03 at 11 05 42" src="https://user-images.githubusercontent.com/615149/83624251-46326880-a58a-11ea-87b0-74e5066a2839.png">

[2020-06-03 10:55] timmyomahony commented on #25
Fixed in 1.0.2

[2020-06-03 10:55] #25 closed

[2020-06-03 10:56] timmyomahony commented on #24
Fixed in #26

[2020-06-03 10:56] #24 closed

[2020-06-03 10:56] timmyomahony commented on #23
Fixed in #26

[2020-06-03 10:56] #23 closed

[2020-06-03 17:55] timmyomahony commented on #22
Fixed in https://github.com/weareferal/craft-matrix-field-preview/pull/28

[2020-06-03 17:55] #22 closed

[2020-06-30 16:20] timmyomahony opened #29 "Ability to group matrix fields into categories"

[2020-07-02 11:05] timmyomahony opened #30 "Group block types by matrix field in the control panel"
It can be hard to distinguish which block type belongs to which matrix field, particularly if they share names. See the example:

<img width="643" alt="Screenshot 2020-07-02 at 12 05 17" src="https://user-images.githubusercontent.com/615149/86351537-52c6e100-bc5c-11ea-868d-cbb9ca886ca4.png">

[2020-07-02 11:15] timmyomahony opened #31 "Ability to enable/disable preview on particular matrix fields"
Currently it's all or nothing. We could add the ability to enable/disable on a per-matrix field basis. Alternatively, if we change the current approach to compliment the regular dropdown menu (https://github.com/weareferal/craft-matrix-field-preview/issues/19) then it might not be required to enable/disable

[2020-07-02 11:16] timmyomahony commented on #19
A side effect of this is that the plugin would be able to work alongside plugins like Spoon

[2020-07-02 11:32] timmyomahony opened #32 "Wrong preview images displayed for block types with same name"
If you have two block types from two different matrix fields that both have the same handle name (for example `cta`) then it looks like they will both use only 1 of the preview images. In other words, block types are not being distinguised by their matrix field, only by their handle name

[2020-07-02 11:37] timmyomahony opened #33 "Uncaught ReferenceError: handle is not defined"
<img width="1680" alt="Screenshot 2020-07-02 at 12 36 40" src="https://user-images.githubusercontent.com/615149/86354316-bbb05800-bc60-11ea-9e93-792de6c038af.png">

[code]

[2020-07-02 12:00] timmyomahony commented on #33
Fixed in https://github.com/weareferal/craft-matrix-field-preview/tree/1.0.5

[2020-07-02 12:00] #33 closed

[2020-07-08 21:24] jassok opened #35 "Disable the "Add" button when limit is reached."
Default craft behavior on a matrix is to disable the "Add" button if you set a max number of rows for a matrix. This plugin doesn't appear to check for that and allows a user to attempt to add a new row even if they've hit the limit.

[2020-07-09 10:22] timmyomahony commented on #35
Good catch. I hadn't thought of that. I'll be adding a fix for this

[2020-07-16 08:59] andyharris opened #36 "Error when assigned asset is deleted"
If you have a matrix preview block with an image asset assigned, and then you delete that asset via the assets screen, you get an error from any entries page that has that an instance of that block assigned to it.

`TypeError
Argument 1 passed to craft\services\Assets::getThumbUrl() must be an instance of craft\elements\Asset, null given, called in /xxx/public_html/vendor/weareferal/matrix-field-p

[2020-07-16 09:00] timmyomahony commented on #36
Thanks @andyharris. So you're saying when you delete the image preview associated with the asset, but don't replace it with another, the entries page for that matrix field throw the error?

[2020-07-16 09:01] andyharris commented on #36
Hi Timmy. That's correct, as long as that page has one of those blocks assigned (so you'd expect to see the mini preview), you get this error.

[2020-07-16 09:02] timmyomahony commented on #36
Yeah, I'd have expected the default placeholder image to reappear. I'll check it out. Thanks for reporting.

[2020-07-16 10:07] timmyomahony commented on #36
(Aiming to get a fix for this today or tomorrow)

[2020-07-16 10:09] andyharris commented on #36
Awesome, thanks!

[2020-07-16 13:10] timmyomahony commented on #36
@andyharris  are you running the latest version (`1.0.5`)? I can't replicate this. The assigned image gets deleted OK and I'm able to show the entries page and select a matrix block via the overlay without an error.

[2020-07-16 13:16] timmyomahony commented on #36
Oh wait, I think I see what you  mean. So when you delete the image that you uploaded via the Matrix Field Preview settings page, but then deleted via the **Craft Assets panel** (not the Matrix Field Preview settings page) then you get the error. This would make sense, as the asset is deleted but the image in our custom table isn't.

[2020-07-16 13:23] andyharris commented on #36
@timmyomahony Yep, the latter scenario is what I meant, sorry for not explaining it well.

[2020-07-16 13:48] timmyomahony commented on #36
No worries.

For my own notes:

This is happening because when you delete an asset file outside of the settings, the corresponding FK from our own `matrixpreviewfield_previewrecord` table to the assets isn't deleted.

Usually this would be handled in the DB by the foreign key constraint on our table. Either "cascade" (where the whole row would be deleted when the corresponding asset is delete) or

[2020-07-17 09:40] #36 closed

[2020-07-17 09:42] timmyomahony commented on #36
I've added a fix for this in version 1.0.6. This is really just a quick-fix for the moment to stop the errors appearing. The full solution will require creating an event to listen for asset deletions to update our own tables but that's going to take a bit of time to get up and running

[2020-07-17 09:44] timmyomahony opened #39 "Handle asset soft deletions"
See issue https://github.com/weareferal/craft-matrix-field-preview/issues/36 for more details on what the problem is. I've pushed a quickfix that will stop the errors but doesn't address the underlying issue.

[2020-07-17 12:17] timmyomahony opened #41 "Better integration/tolerance with the existing Craft MatrixInput JavaScript"
For the plugin to work we need to be able to make use of the `MatrixInput` JavaScript for each matrix field rendered on the page.

Craft stores reference to this class on the `<div class="matrix-field ...">` element's DOM/`$.data()` so we can get access via:

[code]

The problem is there is no guarantee that Craft has finished loading the `MatrixInput` for any particular class. For example, if you

[2020-07-17 12:45] timmyomahony commented on #35
This should be fixed with 1.0.7 and https://github.com/weareferal/craft-matrix-field-preview/pull/42

[2020-07-17 12:45] #35 closed

[2020-07-17 12:46] timmyomahony commented on #19
Changed in 1.0.7 https://github.com/weareferal/craft-matrix-field-preview/pull/42

Now you can disable "take-over" via the plugin setting allowing the previews to work alongside the regular Craft functionality (and Spoon for example).

In the future, we will configure this per-matrix-field as well as just globally

[2020-07-17 12:46] #19 closed

[2020-09-29 15:21] paragonn commented on #17
+2 to that. This would really great!

[2020-10-15 12:09] VincentVanDenBossche commented on #31
Would love to see this enhancement!

[2020-10-20 09:19] petehjfd commented on #31
Definite upvote for this.  It's not all that usable the way it is.

[2020-10-20 09:37] timmyomahony commented on #31
Thanks for the feedback, will work on implementing this

[2020-10-20 11:44] timmyomahony commented on #30
Currently in the `develop`, should be released with next changes

[2020-10-26 21:24] brandonkelly opened #43 "Fix Composer 2 compatibility"
When installing this plugin with Composer 1, the following deprecation notice is output:

Composer 2 was released on October 24, and is now the default version that will be installed, so it’s critical that this gets resolved ASAP, or people will start getting `Class not found` errors.

To fix, run the following command:

[code]

Then commit your change and [tag a new release](https://craftcms.com/

[2020-10-28 17:32] timmyomahony opened #48 "Bad Github merging"
I stupidly merged a feature directly into master, then tried to revert that merge commit. This worked, but it meant that when I eventually correctly merged the feature to dev and then dev into master, master didn't actually have the feature as the revert commit was still in the master's history (but not in devs). This meant I had to revert the revert in master 🤕

<img width="1377" alt="Screenshot

[2020-10-28 17:32] #48 closed

[2020-10-28 17:34] timmyomahony commented on #43
Thanks, this should be fixed as of https://github.com/weareferal/craft-matrix-field-preview/releases/tag/1.1.0

[2020-10-28 17:34] #43 closed

[2020-10-28 17:34] timmyomahony commented on #32
This should be fixed in 1.1.0 https://github.com/weareferal/craft-matrix-field-preview/releases/tag/1.1.0

[2020-10-28 17:34] #32 closed

[2020-10-28 17:35] timmyomahony commented on #31
Just released version 1.1.0 which introduces this feature. You can now enable/disable previews on particular matrix fields as well as opt to "takeover" the default matrix field experience or just augment it

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/1.1.0

[2020-10-28 17:35] #31 closed

[2020-10-28 17:35] timmyomahony commented on #30
There is better grouping now in version 1.1.0 https://github.com/weareferal/craft-matrix-field-preview/releases/tag/1.1.0

[2020-10-28 17:35] #30 closed

[2020-10-28 18:12] brandonkelly commented on #43
Works great, thanks!

[2020-10-30 11:05] timmyomahony opened #50 "'Changes to the project config are not possible while in read-only mode.'"
I got this error when installing `1.1.3` up from `1.0.7` on production when running migrations `craft migrate/all`:

[code]

Why I _think_ this is happening:

There is a schema change to the plugin as part of this 1.1 update (1.0 to 1.1). This is so that Craft understands that the plugin has migrations to run. This schema change involves the project config being updated (`config/project/plugins/pl

[2020-10-30 11:53] timmyomahony opened #51 "Add ordering to block types"
Need to be able to order the block types within matrix fields

[2020-11-17 12:15] timmyomahony commented on #41
This is fixed now in 1.2.0

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/1.2.0

I realised that you can use the Garnish event system to listen for the `afterInit` event that Matrix inputs and Neo inputs fire.

[2020-11-17 12:15] #41 closed

[2020-11-17 12:15] timmyomahony commented on #21
We've removed the max-height on images now so they should look better when being previewed

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/1.2.0

[2020-11-17 12:15] #21 closed

[2020-11-17 12:17] timmyomahony commented on #17
Neo time! I've just released a new version 1.2.0 that adds basic Neo field support. Now you can add previews for both your regular matrix field inputs as well as neo fields.

[2020-11-17 12:17] #17 closed

[2020-11-17 12:21] timmyomahony commented on #18
We're a step closer to configuration on staging/production with 1.2.0 as the settings pages can now be accessed independently of the settings section (which isn't accessible when `allowAdmin` = false). We don't want to add a menu item like other plugins though as you should really only access these matrix field settings now and again

[2020-11-19 22:08] tjdraper opened #55 "When Switching Entry Types, Matrix Field Preview Does Not Initialize On Entry's Matrix Fields"
When viewing an entry or creating a new entry, when selecting a different entry type with the entry type switcher, Matrix Field Preview does not initialize on the Matrix fields (existing from the previous entry type or new fields) in the entry type.

Before switching entry types:

<img width="1055" alt="Screen Shot 2020-11-19 at 3 54 02 PM" src="https://user-images.githubusercontent.com/3803475/99

[2020-11-20 11:04] timmyomahony commented on #55
Thanks for the report. That's interesting, are you using the latest version (1.2)? I didn't anticipate the entry type dropdown. That said, it technically should be working as the plugin listens for when matrix fields get init'ed.

Let me check it out and see if I can replicate

[2020-11-20 16:28] tjdraper commented on #55
Odd. I'm so sorry, I thought I _was running the latest version before the bug report because the latest tagged version is not showing up in Craft. But I'm running 1.1.3.

<img width="960" alt="Screen Shot 2020-11-20 at 10 26 47 AM" src="https://user-images.githubusercontent.com/3803475/99824199-00a72f00-2b1b-11eb-8701-b0e1fc1487e7.png">
<img width="453" alt="Screen Shot 2020-11-20 at 10 27 44 AM"

[2020-11-20 16:33] tjdraper commented on #55
I'm going to try to point composer at this repo manually to pick up and test 1.2.0, but I thought you'd want to know that Packagist is not picking up 1.2.0.

<img width="707" alt="Screen Shot 2020-11-20 at 10 32 03 AM" src="https://user-images.githubusercontent.com/3803475/99824793-cc803e00-2b1b-11eb-9462-8a0e93ee1967.png">
<img width="1193" alt="Screen Shot 2020-11-20 at 10 32 14 AM" src="https:/

[2020-11-20 16:41] timmyomahony commented on #55
Ah, that's weird. I think I had an issue with the composer version number. I've just added a new `1.2.1` release that looks like it's appearing correctly:

https://packagist.org/packages/weareferal/matrix-field-preview#1.2.1

[2020-11-20 16:46] tjdraper commented on #55
Now getting this when updating to 1.2.1.

<img width="735" alt="Screen Shot 2020-11-20 at 10 44 44 AM" src="https://user-images.githubusercontent.com/3803475/99826039-701e1e00-2b1d-11eb-86e2-85b600c378c5.png">

[code]

[2020-11-20 17:11] timmyomahony commented on #55
Damn, looks like an issue with the migrations I've added. I'll have to debug locally and get back to you.

[2020-11-22 23:08] billymedia opened #58 "Migration error"
Trying to update the plugin and i am getting this error:

[code]

Craftcms: 3.5.15.1
Plugin: 1.2.1
Mysql: 5.7.32
PHP: 7.3

[2020-11-23 10:34] timmyomahony commented on #58
Just looking at this now

[2020-11-23 11:20] timmyomahony commented on #58
@billymedia I've added a fix that hopefully sorts this issue. Please download version 1.2.3 and try migrate again. Let me know if it works OK. Apologies, I know how frustrating migration issues are on install

[2020-11-23 11:21] timmyomahony commented on #55
@tjdraper OK I was able to replicate this and I've hopefully got a fix for it in the latest release. Please download version 1.2.3 and try the migration again. Apologies, I know these migration issues are annoying.

[2020-11-23 12:26] billymedia commented on #58
@timmyomahony  i wasnt expecting you to resolve it so quick. I ended up commenting out the migration as craft was stuck in trying to complete the database upgrade, and i could no longer get into the backend, i'll give it a go and report back.

[2020-11-23 16:24] billymedia commented on #58
Update worked fine. Thanks!

[2020-11-23 16:24] #58 closed

[2020-11-23 17:12] tjdraper commented on #55
Thanks! 1.2.3 resolves the migration issue. AND it looks like this version does resolve the original issue.

[2020-11-23 17:12] #55 closed

[2020-11-23 17:42] timmyomahony commented on #55
Great, glad both issues are sorted 👍

[2020-11-23 17:43] timmyomahony commented on #58
Great, glad it's working 👍

[2021-02-15 12:05] petehjfd opened #61 "Database Exception when attempting to load the Matrix Block Types settings page"
Hi

I just added a new block type to a matrix field.  This caused the matrix field's 'Add block' button to fallback to the Craft default (presumably because I haven't added a preview image for the new field yet? Although I'm sure that didn't used to happen).

So I went to the plugin settings to upload a preview image, but I'm getting a `General error: 1364 Field 'siteId' doesn't have a default val

[2021-02-16 15:12] timmyomahony commented on #61
@petehjfd seems like a migration problem. Let me have a closer look and I'll get back to you

[2021-03-31 10:22] hassanmah opened #62 "Matrix field not appearing when in a Supertable"
Hi,

I am using your plugin, but I've noticed when I have a Matrix block within a Supertable field within a Matrix block. The field doesn't show anything.

With Matrix Preview enabled (Accordion content missing):
<img width="972" alt="image" src="https://user-images.githubusercontent.com/3025707/113129489-dd039c00-9212-11eb-8c00-390c6798d73c.png">

With Matrix Preview disabled (Accordion content s

[2021-04-06 12:57] timmyomahony commented on #62
Hi @hassanmah Currently, Neo and Spoon should be supported but we don't have Supertable support out-of-the-box. I actually haven't tried the plugin myself, so I will try it out and see if I can add support for nested matrix fields as described

[2021-04-29 06:24] ivesho opened #63 "Neo Field cannot disable Previews"
Hi,
I want to close preview for some neo field, but get some problem, "Undefined array key "enableTakeover".
Did I miss something need to do first ?

Thanks.

![image](https://user-images.githubusercontent.com/48641341/116509275-98dce780-a8f5-11eb-84d8-a14258fcbe12.png)
![image](https://user-images.githubusercontent.com/48641341/116509393-c6299580-a8f5-11eb-80a8-f204b595f922.png)
![image](https://

[2021-07-14 21:50] daltonrooney commented on #51
As a related feature request, it would be great to be able to group the block types as well.

## Text
 - Heading
 - Rich Text
 - Button Group
## Media
 - Image
 - Slideshow
 - Video
 - Audio Player

etc...

[2021-08-12 09:41] andyharris commented on #62
We've also run into this problem on another project, no way around it other than to disable the plugin entirely which is not ideal.

[2021-08-18 14:35] timmyomahony commented on #62
Thanks @andyharris  I'll look at first adding some sort of check to make sure the plugin continues to work alongside SuperTable. I'd also like to look into actually supporting SuperTable

[2021-09-21 17:24] daltonrooney commented on #62
I'm able to use the following structure:

Matrix -> SuperTable -> Matrix

The only thing was the nested Matrix button was missing because the "takeover" css was hiding it. I just submitted a pull request that makes the takeover CSS slightly more specific and the nested Matrix button is working now.

[2021-10-14 05:32] leightonhughes opened #65 "Preview images not displaying in Matrix field within Neo"
Hi there, I have a Matrix field used within a Neo field but the matrix field previews don't seem to be displaying. Any way to add this in an upcoming update?
I would ideally just use neo but this is an existing project and I'm reusing a matrix builder.

[2022-05-03 17:07] daltonrooney opened #66 "Craft 4.0 support"
Leaving this here in case 4.0 compatibility is on the roadmap. We're currently testing on a forked repo and will report back if we have any issues.

[2022-06-06 12:00] timmyomahony commented on #66
As mentioned in another issue/PR, I'm making a big update for the plugin, so I'll be testing 4.0 and adding support

[2022-06-06 12:01] timmyomahony commented on #65
Apologies for the delay in replying to your issue. I'm not sure why it was missed, no real excuse. Anyway, Neo should be supported for the plugin. I'm currently working on an update for the plugin, so hopefully that might address any issues you were having.

[2022-06-06 12:17] timmyomahony commented on #62
I'm following up late here so apologies, but I'll be adding a fix from @daltonrooney to get this sorted so that this plugin doesn't interfere with any embedded matrix field previews within a Supertable.

As a matter of interest, is there any need to have previews for Supertable fields? Currently the plugin can add previews for Neo fields but I haven't added any integration for Supertable as I'm no

[2022-06-06 12:28] timmyomahony commented on #51
@daltonrooney I've been adding the ability to group blocks into categories as you've mentioned. Those categories will be sortable.

Secondary to that, it would be useful to be able to sort the blocks themselves as described here. This would mean having sorting available in the settings:

![CleanShot 2022-06-06 at 13 26 55@2x](https://user-images.githubusercontent.com/615149/172160759-1e617e11-2389

[2022-06-07 13:10] timmyomahony commented on #18
Closing for now, as this doesn't seem to be an issue for most users. Please comment if having to configure while admin is off on production/staging sites is a pain.

[2022-06-07 13:10] #18 closed

[2022-06-07 13:11] timmyomahony commented on #50
Haven't been able to replicate since, so closing for the moment. Please comment if you run into this and I'll investigate further.

[2022-06-07 13:11] #50 closed

[2022-06-07 13:35] timmyomahony opened #71 "Enabling/disabling the preview button when "max blocks" is reached isn't supported"

[2022-06-08 15:14] #62 closed

[2022-06-08 15:19] timmyomahony commented on #29
Added in the new 3.0.0 release 🎉 See #73 for more

<img width="1108" alt="screenshot-14" src="https://user-images.githubusercontent.com/615149/172654216-7df5ec19-f6c9-4477-964b-38f85cc715fa.png">

[2022-06-08 15:19] #29 closed

[2022-06-08 15:20] timmyomahony commented on #65
Hopefully this will be fixed in the latest 3.0.0 release. See #73 for more.

I'm going to close this issue for the moment, but if you run into it again please leave a comment and I'll re-open and investigate.

[2022-06-08 15:20] #65 closed

[2022-06-08 15:21] timmyomahony commented on #51
Added in the new 3.0.0 release 🎉 See #73 for more. All the blocks can be re-ordered from within the settings. Furthermore there are now categories available which themselves can be sorted.

![screenshot-13](https://user-images.githubusercontent.com/615149/172654682-83c6efa7-26ea-42d8-8c5e-36001b35bfe6.png)

[2022-06-09 09:12] DTesch-Reem opened #75 "As of 3.0.0 the Settings-Page cannot be accessed independently anymore."
As of 3.0.0 the Settings-Page cannot be accessed independently anymore.
Configuring while admin is off on production/staging sites is not ideal, please consider adding a menu button.

_Originally posted by @DTesch-Reem in https://github.com/weareferal/craft-matrix-field-preview/issues/18#issuecomment-1150870886_

[2022-06-09 09:12] timmyomahony commented on #18
Do you mean accessing it directly from a URL? Is the use case here accessing it on production, when the settings are hidden and `allowAdminChanges` is false?

[2022-06-09 09:14] timmyomahony commented on #75
Do you mean accessing it directly from a URL? Is the use case here accessing it on production, when the settings are hidden and `allowAdminChanges` is false?

[2022-06-09 09:15] DTesch-Reem commented on #18
Yes i am trying to access the plugin settings on a production environment, but it is not possible, because of this error message: "Unauthorized
Administrative changes are disallowed in this environment."

[2022-06-09 09:17] DTesch-Reem commented on #75
Yes i am trying to access the plugin settings on a production environment, but it is not possible, because of this error message: "Unauthorized
Administrative changes are disallowed in this environment."

[2022-06-09 09:29] timmyomahony commented on #75
I've just pushed a change to version `3.0.1` that should ease the permissions so that you can access directly via `/admin/matrix-field-preview/` in the control panel.

[2022-06-09 09:34] DTesch-Reem commented on #75
Wow you are fast! Thanks this work :)
In a future Update, will it be possible to access the Settings-Tab through a Menu-Button?

[2022-06-09 09:38] timmyomahony commented on #75
Haha, no problem.  Adding it to the menu is a possibility. Would you expect to see it here?

![CleanShot 2022-06-09 at 10 35 39@2x](https://user-images.githubusercontent.com/615149/172816434-1e63bd08-6868-4951-aec1-406a908416bc.png)

An issue with this is that it would be visible to content creators/editors/publishers too. The plugin settings page is really only a configuration-step that should be

[2022-06-09 09:41] #75 closed

[2022-06-10 13:18] mofman opened #77 "Error while updating to v3"
Getting this error while updating to v3. Still on craft cms 3.7.44

[code]

[2022-06-10 13:26] mofman commented on #77
MariaDB 10.7.3 which is based on MySQL 5.5.5

Thanks for taking a look.

[2022-06-10 14:44] mofman commented on #77
[0841752](https://github.com/weareferal/craft-matrix-field-preview/commit/08417527efb98b5fdbe233d85700b07e24440d36) Fixed it for me Timmy. Thanks

[2022-06-10 14:46] timmyomahony commented on #77
Yep, just working on cleaning up the migrations. I'll release fully as soon as I can test a bit more.

[2022-06-10 15:28] timmyomahony commented on #77
Added improvements to the migrations to hopefully fix this issue https://github.com/weareferal/craft-matrix-field-preview/releases/tag/3.0.2

[2022-06-10 15:28] #77 closed

[2022-06-11 12:23] timmyomahony opened #80 "Foreign key deletions aren't working on MySQL"
Our migrations for deleting FKs look like:

[code]

Which works OK on Postgres, but seems to cause an issue with MySQL. It seems like both the index and constraint have to be deleted separately. When I tried this though I got further errors.

[2022-06-13 20:18] bkrsmanovic opened #81 "Craft v4 compatibility"
Hello.

Great plugin. Is it possible that you make it compatible with v4 of Craft?

![image](https://user-images.githubusercontent.com/15169280/173438071-c43d2755-3972-40df-995d-36e060a5c43c.png)

[2022-06-13 21:04] timmyomahony commented on #66
OK, I've pushed a new version 4.0.0 🥳 https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.0

[2022-06-13 21:04] #66 closed

[2022-06-13 21:05] timmyomahony commented on #81
Good timing! I've just pushed a new version 4.0.0 with Craft 4 compatibility this evening:

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.0

[2022-06-13 21:05] #81 closed

[2022-06-14 07:12] 730projects opened #82 "Craft 4: Argument #2 ($folderId) must be of type int"
Hi there!

Couldn't wait to try the new Craft 4 supported plugin. :)

When trying to upload a preview image I get the following error message:

There was a problem uploading your photo: craft\services\Assets::getNameReplacementInFolder(): Argument #2 ($folderId) must be of type int, craft\models\VolumeFolder given, called in /Users/xxx/Sites/xxx/vendor/weareferal/matrix-field-preview/src/services/

[2022-06-14 09:43] timmyomahony commented on #82
Hi @730projects not sure how that slipped through. It should be fixed now in 4.0.1. Thanks for letting me know.

[2022-06-14 11:04] DTesch-Reem opened #83 "Update to 4.0.1"
Cannot update because of error:
Type of weareferal\matrixfieldpreview\MatrixFieldPreview::$schemaVersion must not be defined (as in class craft\base\Plugin)

[2022-06-14 11:21] timmyomahony commented on #83
Can you add a bit of detail on how you are upgrading? Have you already upgraded to Craft 4 and just trying to upgrade the plugin separately, or updating both at once. Can you add your `composer.json`.

[2022-06-14 11:46] DTesch-Reem commented on #83
Still on Craft CMS 3.7.44
Upgrade does not work through the interface or through the composer
my composer json:
{
    "require": {
        "craftcms/cms": "3.7.44",
        "craftcms/feed-me": "4.5.3",
        "craftcms/redactor": "2.10.8",
        "craftcms/webhooks": "2.4.1",
        "lukasformulare/lukas-formulare": "^1.0",
        "mmikkel/incognito-field": "^1.3",
        "sebastianlenz/linkf

[2022-06-14 11:48] timmyomahony commented on #83
Ah. Version 4.X of the plug-in is intended for Craft 4. You can stick with version 3.X of the plug-in for Craft 3 (it has all of the latest features).

[2022-06-14 12:11] timmyomahony commented on #83
I think that the underlying issue here is that you were suggested to upgrade to `4.0.1` in the first place (through the interface) even though you are using Craft 3.

The reason for this was that I still had Craft 3 as a valid dependency in the Craft 4 version `compose.json`. I'm fixing this now so the Craft 4 version shouldn't show up in the Craft 3 upgrades.

Apologies for the mix up

[2022-06-14 12:12] DTesch-Reem commented on #83
Thank you :)

[2022-06-14 12:38] timmyomahony commented on #83
This should hopefully be fixed now. I've released version `4.0.0` and `4.0.1` with updated `composer.json` files, so they should no longer appear for Craft 3 users.

Let me know if you've any further issues.

[2022-06-14 13:50] timmyomahony commented on #82
I'm going to mark this closed for the moment, but let me know if you're still having issues and I can reopen/help out.

[2022-06-22 23:05] turnstylerj opened #84 "Non-takeover "Content Previews" button overlaps existing buttons"
# Description

When using non-takeover display for either Matrix of Neo fields, the button containing the text "Content Previews" overlaps existing buttons.
![Screen Shot 2022-06-22 at 4 01 38 PM](https://user-images.githubusercontent.com/42223501/175169005-755ae767-00f8-4011-84f0-ec1cd2e3f26e.png)

## Additional Information
Craft CMS: v4.0.5.1
Neo: v3.1.1
Matrix Field Preview: v4.0.2

[2022-06-22 23:07] turnstylerj opened #85 "Takeover option not available for Neo fields"
# Description
Under "Configure Fields" for Neo fields, the "Takeover" display option is not available. This is available for Matrix fields.
![Screen Shot 2022-06-22 at 4 01 55 PM](https://user-images.githubusercontent.com/42223501/175169610-806c6710-11dc-4fe2-8237-96c030bcb0ca.png)

## Additional Information
Craft CMS: v4.0.5.1
Neo: v3.1.1
Matrix Field Preview: v4.0.2

[2022-06-23 12:55] timmyomahony commented on #85
I think I may have consciously avoided taking over the Neo field so as not to interfere with it too much. I'll see what's involved in adding it as an option though.

[2022-06-23 22:31] deanfields opened #86 "Getting unknown property: weareferal\matrixfieldpreview\records\NeoBlockTypeConfigRecord::sortOrder"
I'm playing around with a clean install, I have a Neo field that had one block, and I was able to add a preview. I have since added a second block and that has caused this error to occur on the Neo configure previews page. I removed one of the blocks and the page worked again.

[2022-06-24 11:16] deanfields commented on #86
Having looked at the code and what is going on, the column 'sortOrder' is missing from the matrixfieldpreview_neo_blocktypes_config table for some reason, I didn't manually remove it, so not sure what happened.

[2022-06-24 11:26] deanfields opened #87 "Neo field non-top level field & 'content preview' button on neo blocks with child nested blocks."
I am able to select and add a non-top level block to the top-level. It would be awesome to have a content previews button for child blocks nested under top-level ones.

[2022-06-24 11:34] timmyomahony commented on #86
Thanks @deanfields. You're correct, the plugin has it's own tables in the DB to track previews. It should have added that field to the database via a migration though so not sure what's happened.

- You mentioned a clean install. Just to confirm, you were installing the plugin from scratch as well (as opposed to updating from an older version)?
- In which order did you install both Neo and the Mat

[2022-06-24 11:36] deanfields commented on #86
It was a fresh install of Craft 4 and I can't recall what order I installed the plugins in, but I feel like I may have installed MFP first. And yes, it was a fresh install as opposed to an update.

[2022-07-12 17:44] Leeroy-agency opened #88 "Console error : Uncaught TypeError: Cannot read properties of undefined (reading 'length')"
We have a project with your plugin and https://plugins.craftcms.com/neo and there is an error in the browser console, when we are on a page with Neo field.

It append when the script BlockTypeModal.js try to create a new instance :

`Uncaught TypeError: Cannot read properties of undefined (reading 'length')`
BlockTypeModal.js line 285

![mfp-js-bug](https://user-images.githubusercontent.com/651752

[2022-07-13 12:03] timmyomahony commented on #88
Thanks for the report 👍🏻 I'll look into it

[2022-07-29 07:56] DTesch-Reem opened #89 "Allow Categories to disable on a per site basis"
It would be awesome if i could disable specific Groups on a per site basis.
I'm using a plugin called MatrixMate and it is working great, but if i want to disable specific types on a per site basis it gets overwritten by craft-matrix-field-preview.

[2022-08-01 08:18] timmyomahony commented on #89
Thanks @DTesch-Reem for this and the pull request. I'll check it out.

[2022-08-04 13:05] robinsm commented on #87
Further to this, it would be great if we could hide non-top level blocks entirely to prevent them being added to an entry outside of the parent Neo block.

[2022-08-20 04:13] devinpitcher commented on #63
Still see this on `3.0.2`. 😞

[2022-08-23 06:40] robinsm commented on #88
Hey @timmyomahony .  Was just about to report this issue and can see it's already reported in great detail.  We're experiencing the same issues as documented here.

[2022-08-23 06:47] robinsm opened #92 "Missing Inline Previews"
Not all inline previews are being presented in Neo blocks when creating/editing entries. In some instances, the inline preview is presented in a specific block but if the same block is added again / appears a 2nd time, the inline preview may not show.

We can see the same console error reported in #88 so it may well be related.

Neo Blocks
Craft Pro 4.2.1.1
Matrix Field Preview 4.0.2

[2022-08-23 07:00] robinsm opened #93 "Neo Field Previews ordering is not being rendered correctly."
The following issue is in relation to Neo blocks but may also apply to Matrix blocks.

When changing the order of blocks/previews in the _Configure Neo Field Previews_ view, the ordering of the blocks/previews is not rendered correctly when leaving and then subsequently returning to the same view.

The underlying data held in the table in the sortOrder column does appear to be correct but is just

[2022-08-23 10:45] robinsm commented on #93
Happens when we have more than 10 (Neo) blocks and I tested a fix here.

https://github.com/weareferal/craft-matrix-field-preview/blob/bc312b2f078ee0d9302c52333e5f02f3049ea00c/src/services/BaseBlockTypeConfigService.php#L124

`return strnatcmp($a->sortOrder, $b->sortOrder);`

[2022-08-23 12:35] janreges commented on #87
+1

We have a lot of nested non-top level blocks and it will be great to have an option how to hide them.

Our remporary workaround - we created preview 2 categories "TOP level components" and "Nested components - don't use it directly". Our editors are instructed to use only TOP level components.

[2022-08-24 18:23] daltonrooney opened #94 "Block order not saving"
When I re-order a block, I get a confirmation that the order was updated, but when I refresh the page the original order is restored. I can see that the sort order is being reflected in the database however.

https://capture.dropbox.com/lzWGsyZii0YXtjae

[2022-08-24 22:48] timmyomahony commented on #86
This should now be fixed in release 4.0.3:

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.3

The issue was that there was a migration I had failed to include in the code that runs when Neo is installed, meaning that `sortOrder` row wasn't installed properly.

This should avoid the issue happening in the future but to fix an existing installation you might need to reinst

[2022-08-24 22:48] #86 closed

[2022-08-24 22:49] timmyomahony commented on #93
Thanks for the report @robinsm , I'm not sure why I was using `strcmp` in the first place, as the `sortOrder` column is a `smallint`. I've updated it to use a proper comparison function in version 4.0.3 which should fix the problem.

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.3

Let me know if that it works OK.

[2022-08-24 22:49] #93 closed

[2022-08-24 22:50] timmyomahony commented on #94
Thanks @daltonrooney. This was also reported in #93. I've just created a new minor release 4.0.3 which should address this:

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.3

[2022-08-24 22:50] #94 closed

[2022-08-24 22:52] timmyomahony commented on #92
Thanks @robinsm, could you provide a bit of detail on how your Neo field is configured? Are there multiple Neo fields on the entry you are trying to edit? Are there other matrix fields on the entry? Do you have top-level and non-top-level Neo fields? Even a screenshot of the field in the admin control panel would help.

I ask as I'm having a bit of trouble replicating the issue on my end.

[2022-08-24 23:10] timmyomahony commented on #87
Hi folks, so just so I'm clear, Neo has two concepts at play here:

1. The ability to mark a block in a Neo field as "top level"
2. The ability to add "children" to Neo blocks (allowing for nesting).

The point of these two features together is that some blocks you _only_ ever want to nest, you don't ever want them to appear initially when the Neo field renders as top-level blocks.

Therefore ther

[2022-08-24 23:13] timmyomahony commented on #87
BTW, I'm going to review and pull in the PR that addresses this, I just want to make sure I understand the use case and can replicate the issues first.

[2022-08-24 23:15] timmyomahony commented on #88
Apologies @Leeroy-agency for the late reply, I'm catching up on these Neo issues now.

Just to confirm, this issue was happening on page-load, when viewing an entry that contained your Neo field? And your Neo field is configured with both top-level and non-top-level blocks?

[2022-09-01 17:13] mattwardcc opened #95 "Sorting Error on Configure Fields Settings Page"
I think there might be an issue with the `Configure Fields` option when first installing the plugin. I just installed it on a site I'm developing to test for the first time, and when I visit the `Configure Field` option in the settings, I'm getting the following error:

`Getting unknown property: weareferal\matrixfieldpreview\records\MatrixFieldConfigRecord::sortOrder`

Following the stack trace,

[2022-09-02 08:33] ljclark commented on #95
Also experiencing this same issue.

Plugin version: v4.0.3 - everything else works fine, but can't access the 'Configure Fields' page.

PHP version | 8.0.22
Craft edition & version | Craft Pro 4.2.3

[2022-09-02 12:19] timmyomahony commented on #95
Yep I think I know what's going on here. I'll get a release out as soon as I can to address.

[2022-09-02 14:35] timmyomahony commented on #95
(Thanks for reporting btw)

[2022-09-06 21:33] timmyomahony commented on #95
This should now be fixed in the latest version `4.0.4`. Let me know if it fixes the issue

[2022-09-06 21:33] #95 closed

[2022-09-08 17:36] daltonrooney opened #96 "Extra inline preview added to Super Table field when child of Matrix block"
I've got a matrix field and some of the blocks include super table fields. If we select the "Matrix" layout for our Super Table field, the inline preview is appended to the child Super Table as well. Hopefully this screenshot can illustrate the problem.

<img width="886" alt="Screen Shot 2022-09-08 at 10 23 57 AM" src="https://user-images.githubusercontent.com/742045/189187530-bfe9a9be-7fbf-440c-8

[2022-09-08 18:39] timmyomahony commented on #96
Hey @daltonrooney ah, so the previews are incorrectly being included in any child SuperTable fields, when they shouldn't be?

[2022-09-08 19:03] daltonrooney commented on #96
Right 👍🏻 I think it’s only when we use the “Matrix” Super Table field layout.

[2022-09-08 19:14] Leeroy-agency commented on #88
Exact

Exact.

[2022-09-21 23:56] timmyomahony commented on #96
@daltonrooney this should be fixed in the latest release 4.0.5

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.5

Let me know if that clears up the issue for you or if you notice any other issues.

[2022-09-21 23:56] #96 closed

[2022-09-21 23:57] timmyomahony commented on #92
Hi @robinsm this should be fixed in the latest release 4.0.5

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.5

Now, inline preview images should appear on all Neo child blocks that are configured.

[2022-09-21 23:57] #92 closed

[2022-09-21 23:58] timmyomahony commented on #88
Hi @Leeroy-agency this should be fixed in the latest release 4.0.5

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.5

There were a number of Neo issues that I've tried to tidy up so Neo performance should be much better now. Let me know if it fixes the errors you were seeing.

[2022-09-21 23:58] #88 closed

[2022-09-22 00:00] timmyomahony commented on #84
Hi @turnstylerj  I haven't been able to come up with a great way of handling this, but you can now "takeover" the Neo field button altogether. This means that for Neo fields with many child blocks (that would normally suffer the issue you noted) you can just replace it with a single "Add Block" button.

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.5

I'm not sure if th

[2022-09-22 00:01] timmyomahony commented on #85
Hi @turnstylerj this should be added in the latest release 4.0.5

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.5

You can now take over the Neo button. This might address your other [#issue](https://github.com/weareferal/craft-matrix-field-preview/issues/84)

[2022-09-22 00:01] #85 closed

[2022-09-22 00:04] timmyomahony commented on #87
OK, the Neo field behavior has been updated in the latest release 4.0.5 which should tidy up some of the bugs.

https://github.com/weareferal/craft-matrix-field-preview/releases/tag/4.0.5

Essentially any preview modal you open now on a Neo block should only display those previews that are relevant. For example if you click the top-level cotent preview button, the modal will only display those blo

[2022-09-22 00:04] #87 closed

[2022-09-22 00:20] turnstylerj commented on #84
Works for me! I was planning to use the takeover option anyway, so I'll go ahead and close this and if it really bothers someone else, they can resurrect it. 😄

[2022-09-22 00:20] #84 closed

[2022-09-22 03:45] stevecomrie commented on #89
This would be a great feature.

The ability to disable or hide certain blocks depending on the current section and/or site is a fantastic aspect of MatrixMate, and one that I think lets you build more flexible content builders / matrix fields.

[2022-09-22 09:35] timmyomahony commented on #89
Hey, so just to confirm: the end goal here is actually to be able to hide particular blocks on particular sites right? So you would like to be able to, for example, "only show this category of CTAs on site A". The solution at the moment would be to have multiple separate matrix fields entirely: one for each site you want.

[2022-09-22 14:10] Leeroy-agency commented on #88
Thanks you!

That's fixed it!

[2022-09-23 02:05] stevecomrie commented on #89
Hiding blocks between sites would be great.

Hiding blocks between sections and/or entryTypes would be better.

All would be fantastic.

Matrixmate has several different context configs that it allows you to configure blocks usage against:

https://github.com/vaersaagod/matrixmate/blob/master/README.md#config-contexts

[2022-09-26 13:50] evenromo opened #99 "Preview image stored in local asset folder not showing up in modal"
Hi

Having this weird issue where when i upload a preview image for one of my blocks it shows up in Settings section of Matrix Preview but when i open the Matrix Preview Modal when editing an entry it indicate that i havent uploaded a image yet.
I changed the preview location from a S3 bucket to a local folder within the project.

What could cause this?

Craft: 3.7.55.2
Matrix Field Preview: 3.0.2

[2022-09-26 19:59] timmyomahony commented on #99
@evenromo that's strange. Is the image loading correctly on the inline preview for that field? In other words this one:

![screenshot-6](https://user-images.githubusercontent.com/615149/192368496-e9d30e49-6fc4-4a11-bbc1-fc0216bbf285.jpg)

[2022-09-26 20:00] timmyomahony commented on #99
Also, are there any obvious errors or 404s being shown in the console for that image?

[2022-09-27 10:42] evenromo commented on #99
@timmyomahony No 404 errors and the image does not show up in the thumbnail either. I was switching back and forth between different Asset sources, local and s3. And trying to upload to the both of them. Could it be that thats what causing it? That the DB struggles to keep up?  idk 🤷

[2022-09-28 09:20] evenromo commented on #99
Ok cool. Thanks for the quick reply 🥇

[2022-10-11 11:13] tomdavies opened #100 "[Bug] not working alongside v4 of Spoon"
I've hit a bug when trying to get this plugin to work alongside of the (freshly released v4 of Spoon).

Specifically, Spoon adds a `.hidden` class to  the `div.buttons` that this plugin appends its "Content Previews" button to:

<img width="1378" alt="Screenshot 2022-10-11 at 12 04 35" src="https://user-images.githubusercontent.com/136308/195074210-e3407dac-81b4-4c23-8d87-e8b8a67ccb62.png">

Proba

[2022-10-17 09:18] timmyomahony commented on #100
Thanks @tomdavies thanks for reporting this. I'll check it out.

[2022-10-17 19:53] timmyomahony commented on #100
Haha, thanks @tomdavies

[2022-10-19 03:48] stevecomrie opened #101 "Additional flexibility in setting Takeover on/off"
It would be nice if you could decide whether "Takeover" was enabled for a particular section based on the value of a Lightswitch field associated with the currently logged-in user.

Something like:

[code]
Where the value "takeoversActive" is something configurable, either via config file .. or through the GUI when choosing whether Takeovers are on/off.

This lets you give content editors a self-s

[2022-10-19 12:28] S-n-d opened #102 "[enhancement] Config in project.yaml"
Hi Timmy,

First of all, great plugin! Love it!

Quick question: why are the plugin settings stored in the database? Would it not be best if the settings are stored in the project.yaml config file? This way we won't have to sync database whenever changes to settings are made. Would it also be possible to store the links to the screenshots themselves in the project config?

I think it would be nice

[2022-10-24 09:36] timmyomahony commented on #102
Hi @S-n-d thanks for raising the issue. I'm definitely considering this. The main reason at the moment is that volumes aren't always environment dependent, so storing them in the `project.yaml` doesn't always make sense. For example you might be using a local volume for development but a remote (e.g. S3) on staging or production. Saving the previews paths in the `project.yaml` wouldn't take this i

[2022-10-24 09:40] timmyomahony commented on #101
Interesting idea, thanks for raising it. Will need to think a bit more about how it could be implemented but I like it.